<!-- HEADER - incl. MASTHEAD & MENU -->

<header class="site__header">
	<div class="container">
		
		<div class="masthead">
			<img class="logo" src="assets/img/logo2.png" alt="Atticus, the Murderous Crow">
			<!-- 	<h1 class="title">Tales of <span>Murder</span></h1>
			<h2 class="tagline">for readers with <span>time to <em>kill </em>!</span></h2>-->
		</div> <!-- end of div masthead -->

    <nav class="nav__primary menu push-menu-right">
      <h1 class="hidden">Main Navigation</h1>
      <ul class="nav__basic">
      	<li><button class="close-menu">Close&rarr;</button></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Short&nbsp;Stories</a></li>
        <li><a href="#">Book&nbsp;Catalog</a></li>
        <li><a href="#">MurderWiki&trade;</a></li>
      </ul>
    </nav> <!-- nav__primary -->

  </div> <!-- end div frame --> 
</header> <!-- site__header -->