<header class="site__header cbp-af-header">
	<div class="cbp-af-inner">
		<div class="masthead">
			<img src="img/crowshield_logo.png" height="45" width="45" alt="" class="logo">
			<h1 class="title">Tales of Murder</h1>
			<h2 class="tagline">for readers with time to <em>kill</em>!</h2>
		</div> <!-- end of div masthead -->

		<div class="menu-wrap">
			<nav class="menu">
				<div class="icon-list">
					<a href=""><i class="fa fa-fw fa-home"></i><span>Home</span></a>
					<a href=""><i class="fa fa-fw fa-bullhorn"></i><span>About</span></a>
					<a href=""><i class="fa fa-fw fa-file-text-o"></i><span>Short Stories</span></a>
					<a href=""><i class="fa fa-fw fa-book"></i><span>Book Catalog</span></a>
					<a href=""><i class="fa fa-fw fa-newspaper-o"></i><span>MurderWiki&trade;</span></a>
				</div>
			</nav>
			<button class="close-button" id="close-button">Close Menu</button>
		</div> <!-- end div menu-wrap -->
		<button class="menu-button" id="open-button">Open Menu</button>
	</div> <!-- end of div cbp-af-inner -->	
</header>
