<!-- MAIN NAVIGATION MENU -->

    <nav class="nav__primary cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right">
      
      <h1 class="hidden">Main Navigation</h1>
      <div class="nav__basic">
        <!-- <h3>Menu</h3> -->
        <a class="active" href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Short&nbsp;Stories</a>
        <a href="#">Book&nbsp;Catalog</a>
        <a href="#">MurderWiki&trade;</a>
      </div>    
    <!--   <ul class="nav__basic">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Short&nbsp;Stories</a></li>
        <li><a href="#">Book&nbsp;Catalog</a></li>
        <li><a href="#">MurderWiki&trade;</a></li>
      </ul> -->
    </nav> <!-- nav__primary -->

  </div> <!-- end div frame --> 
</header> <!-- site__header -->