<header class="navigation">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="/assets/img/logo1.png" alt="Logo Image">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">Home</a></li>
        <li class="nav-link"><a href="http://talesofmurder.com">About Us</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Short Stories</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Book Catalog</a></li>
        <li class="nav-link"><a href="javascript:void(0)">MurderWiki&trade;</a></li>
      </ul>
    </div>
    <!-- <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </div>
      </div>
      <a href="javascript:void(0)" class="sign-up">Sign Up</a>
    </div> -->
  </div>
</header>

