/* ==========================================================================
   FOOTER
   ========================================================================== */

.site__footer {
	text-align: center;
	color: #fff;
	background: $bgcolor url("/assets/img/footprints1.png") repeat-x;
	min-height: 4.0625rem;
	padding-top: 1rem;
}

