/* ==========================================================================
   PAGE STYLE
   ========================================================================== */

.home {
	// @include outer-container; 
	border: 1px dashed lightgrey;
	height: 500px;
	margin: 1rem auto;
	}

